div{
	margin: 0px auto;
	background: linear-gradient(45deg,orangered, gold);
	border: 2px solid yellow;
}
#container{
	width: auto;
	margin: 0 6%;
}
#header{
	height: 102px;
	
}
#nav{
	background: white ;
	height: 40px;
	
}
#footer{
	height: 70px;
	background: white;
}	

#logo{
	margin-left: 30px;
	border: 2px solid yellow;
	border-radius: 8px;
}
h1{
	text-align: center;
}
#photo{
	display:block; margin:0 auto;
}
p{
	margin: 5px 10px;
}
#footer p:first-child{
	text-align: right;
	margin-right: 5px; 
}
#footer p:last-child{
	text-align: center;
}
ul{
	text-align: center;

}
li{
	display: inline-block;
}