div{
	margin: 0px auto;
	background: radial-gradient(at top, #FEFFFF, #A7CECC);
	border: 2px solid #465298;
}
#container{
	width: auto;
	
	margin: 0 6%;
}
#header{
	height: 102px;
	
}
#nav{
	background: white ;
	height: 40px;
	
}
#footer{
	height: 100px;
	background: white;
}	

#logo{
	margin-left: 30px;
	border: 2px solid #465298;
	border-radius: 8px;
}
h1{
	text-align: center;
}
#photo{
	display:block; margin:0 auto;
}
#footer p:first-child{
	text-align: right;
}
#footer p:last-child{
	text-align: center;
}
ul{
	text-align: center;

}
li{
	display: inline-block;
}